@{
    Layout = "_Layout2";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Fotoğraf Yükle</h1>
    <form method="post" enctype="multipart/form-data" asp-action="ResimYukle" class="border p-4 rounded">
        <div class="form-group">
            <label for="image">Resim Yükle:</label>
            <input type="file" class="form-control-file" name="image" id="image" />
        </div>
        <div class="form-group">
            <label for="hairType">Saç Tipi:</label>
            <select class="form-select" name="hairType" id="hairType">
                <option value="">Seçiniz</option>
                <option value="201">Long hair (Uzun saç)</option>
                <option value="401">Medium hair increase (Orta uzunlukta saç artırma)</option>
                <option value="402">Light hair increase (Hafif saç artırma)</option>
                <option value="403">Heavy hair increase (Yoğun saç artırma)</option>
                <option value="502">Light curling (Hafif kıvırcık)</option>
                <option value="503">Heavy curling (Yoğun kıvırcık)</option>
                <option value="603">Short hair (Kısa saç)</option>
                <option value="801">Blonde (Sarışın)</option>
                <option value="901">Straight hair (Düz saç)</option>
                <option value="1001">Oil-free hair (Yağsız saç)</option>
                <option value="1101">Hairline fill (Saç çizgisi doldurma)</option>
                <option value="1201">Smooth hair (Pürüzsüz saç)</option>
                <option value="1301">Fill hair gap (Saç boşluğu doldurma)</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">Gönder</button>
    </form>

    @if (!string.IsNullOrEmpty(ViewBag.ApiResponse))
    {
        <div class="mt-5">
            <h3 class="text-center">API Yanıtı:</h3>
            <pre class="p-3 bg-light border rounded">@ViewBag.ApiResponse</pre>
        </div>
    }
</div>
