@{
    Layout = "_Layout2";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">API İşlem Sonucu</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Base64Image))
    {
        <div class="text-center">
            <h3 class="mb-3">Görsel:</h3>
            <img src="data:image/jpeg;base64,@ViewBag.Base64Image" alt="Sonuç Görseli" class="img-thumbnail" style="max-width: 30%; height: auto;" />
        </div>
    }
    else
    {
        <div class="alert alert-danger text-center">
            <strong>Görsel yüklenemedi.</strong>
        </div>
    }

    <div class="text-center mt-4">
        <a asp-controller="ModelOneri" asp-action="ResimYukle" class="btn btn-primary">Yeni bir resim yükle</a>
    </div>
</div>