@model Hizmet
@{
    Layout = "_Layout2";
}
<p>
    <b>@Model.HizmetAdi</b> adlı hizmeti gerçekten silmek istiyor musunuz?

    <form asp-action="HizmetSil" method="post">
        <input type="hidden" name="id" value="@Model.HizmetID">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>