@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <title>Berber Otomasyonu</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                Berber Otomasyonu
            </a>
            <a asp-controller="Home" asp-action="Hizmetler" class="navbar-brand">
                Hizmetler
            </a>
            @if(User.Identity!.IsAuthenticated)
            {
                var rol = User.FindFirstValue(ClaimTypes.Role);
                if(rol=="admin")
                    {
                        <a asp-controller="Admin" asp-action="Index" class="navbar-brand">
                            Randevu Listesi
                        </a>
                    }
                    else if(rol=="user")
                    {
                        <a asp-controller="Randevu" asp-action="Create" class="navbar-brand">
                            Randevu Al
                        </a>
                    }
            }
            <ul class="navbar-nav ms-auto">
                @if(User.Identity!.IsAuthenticated)
                {
                    var rol = User.FindFirstValue(ClaimTypes.Role);

                    if(rol=="admin")
                    {
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="nav-link">@User.Identity.Name</a>
                        </li>
                    }
                    else if(rol=="user")
                    {
                        <li class="nav-item">
                            <a asp-controller="Musteri" asp-action="Edit" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="nav-link">@User.Identity.Name</a>
                        </li>
                    }
                    
                    <li class="nav-item">
                        <a asp-controller="HesapIslemleri" asp-action="Logout" class="nav-link">Çıkış Yap</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="HesapIslemleri" asp-action="Login"  class="nav-link">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Musteri" asp-action="Create"  class="nav-link">Üye Ol</a>
                    </li>
                }
               
            </ul>

        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>

</body>
    


<footer class="bg-dark text-white text-center py-2 mt-3" style="width: 100%; position: fixed;
bottom: 0; left: 0; width: 100%;">
    <div class="container">
        <p class="mb-0">&copy; 2024 Berber Otomasyonu. Tüm hakları saklıdır.</p>
    </div>
</footer>
</html>
