body {
    background-color: #eff2f6;
}

a {
    text-decoration: none;
}


.animate-fade {
    animation: fadeIn 2s ease-in-out;
}

.animate-slide {
    animation: slideUp 1.5s ease-out;
}

.animate-zoom {
    animation: zoomIn 1.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
